Repository swsnu/swppfall2022-team6, pull requests merged in 2022-11, with the labels that each got.

#22 Statistics finish
  backend/db.sqlite3
  backend/pylintrc
  backend/report/migrations/0003_rename_longitutde_report_longitude.py
  backend/report/models.py
  backend/report/tests.py
  backend/report/views.py
  frontend/package.json
  frontend/src/components/Statistics/Statistics.test.tsx
  frontend/src/components/Statistics/Statistics.tsx
  frontend/yarn.lock
  node_modules/.yarn-integrity
Labels: backend, feature

#51 GET /post/
  backend/hashtag/serializer.py
  backend/post/migrations/0001_initial.py
  backend/post/serializer.py
  backend/post/tests.py
  backend/post/views.py
  backend/requirements.txt
Labels: backend, feature

#49 Reply and Post modal end
  backend/node_modules/.yarn-integrity
  backend/post/views.py
  backend/report/tests.py
  backend/report/views.py
  backend/yarn.lock
  frontend/src/components/PostList/PostList.test.tsx
  frontend/src/components/PostList/PostList.tsx
  frontend/src/components/PostModal/PostModal.scss
  frontend/src/components/PostModal/PostModal.test.tsx
  frontend/src/components/PostModal/PostModal.tsx
  frontend/src/components/ReportModal/ReportModal.tsx
  frontend/src/components/Statistics/Statistics.tsx
  frontend/src/containers/AreaFeed/AreaFeed.tsx
  frontend/src/containers/MyPage/MyPage.tsx
  frontend/src/containers/PostDetail/PostDetail.tsx
Labels: frontend, feature

#50 Coveralls
  .travis.yml
  README.md
Labels: CI, sprint

#66 feat: Add PostList callback
  frontend/src/containers/AreaFeed/AreaFeed.test.tsx
  frontend/src/containers/AreaFeed/AreaFeed.tsx
Labels: frontend

#68 PostDetail changes
  backend/backend/urls.py
  backend/post/migrations/0002_alter_post_reply_to.py
  backend/post/models.py
  backend/post/urls.py
  backend/post/views.py
  frontend/src/components/Post/Post.tsx
  frontend/src/containers/AreaFeed/AreaFeed.scss
  frontend/src/containers/AreaFeed/AreaFeed.tsx
  frontend/src/containers/PostDetail/PostDetail.scss
  frontend/src/containers/PostDetail/PostDetail.tsx
Labels: frontend, backend, style

#75 Post Hashtag
  backend/hashtag/views.py
Labels: backend, feature

#77 Hotfix main page bug + POST Hashtag bug
  backend/hashtag/views.py
  frontend/src/components/MapSearch/MapSearch.test.tsx
  frontend/src/components/MapSearch/MapSearch.tsx
  frontend/src/containers/MainPage/Logo.svg
  frontend/src/containers/MainPage/MainPage.scss
  frontend/src/containers/MainPage/MainPage.tsx
Labels: bug, frontend, backend

#85 Backend test 100%
  backend/post/tests.py
  frontend/src/components/Map/Map.tsx
  frontend/src/components/PostList/PostList.test.tsx
  frontend/src/components/PostList/PostList.tsx
  frontend/yarn.lock
  node_modules/.yarn-integrity
Labels: backend, test

#88 Add AreaFeed test
  frontend/src/containers/AreaFeed/AreaFeed.test.tsx
Labels: frontend, test

#91 Post Detail Test
  frontend/src/containers/PostDetail/PostDetail.test.tsx
  frontend/src/containers/PostDetail/PostDetail.tsx
Labels: frontend, test

#86 MainPage tests
  frontend/src/containers/MainPage/MainPage.test.tsx
  frontend/src/containers/MainPage/MainPage.tsx
Labels: frontend, test

#94 MapSearch tests
  README.md
  frontend/src/components/MapSearch/MapSearch.test.tsx
  frontend/src/components/MapSearch/MapSearch.tsx
Labels: frontend, feature, test

#98 Redux
  backend/post/tests.py
  backend/post/views.py
  backend/report/serializer.py
  backend/report/tests.py
  backend/report/views.py
  frontend/src/components/Map/Map.test.tsx
  frontend/src/components/Map/Map.tsx
  frontend/src/components/MapSearch/MapSearch.test.tsx
  frontend/src/components/MapSearch/MapSearch.tsx
  frontend/src/components/Post/Post.scss
  frontend/src/components/Post/Post.test.tsx
  frontend/src/components/Post/Post.tsx
  frontend/src/components/PostList/PostList.tsx
  frontend/src/components/PostModal/PostModal.test.tsx
  frontend/src/components/PostModal/PostModal.tsx
  frontend/src/components/ReportModal/ReportModal.test.tsx
  frontend/src/components/ReportModal/ReportModal.tsx
  frontend/src/components/SkimStatistics/SkimStatistics.test.tsx
  frontend/src/components/SkimStatistics/SkimStatistics.tsx
  frontend/src/components/Statistics/Statistics.test.tsx
  frontend/src/components/Statistics/Statistics.tsx
  frontend/src/containers/AreaFeed/AreaFeed.test.tsx
  frontend/src/containers/AreaFeed/AreaFeed.tsx
  frontend/src/containers/MainPage/MainPage.test.tsx
  frontend/src/containers/MainPage/MainPage.tsx
  frontend/src/containers/MyPage/MyPage.tsx
  frontend/src/containers/PostDetail/PostDetail.test.tsx
  frontend/src/containers/PostDetail/PostDetail.tsx
  frontend/src/index.tsx
  frontend/src/store/index.ts
  frontend/src/store/slices/hashtag.test.ts
  frontend/src/store/slices/hashtag.ts
  frontend/src/store/slices/position.test.ts
  frontend/src/store/slices/position.ts
  frontend/src/store/slices/post.test.ts
  frontend/src/store/slices/post.ts
  frontend/src/store/slices/report.test.ts
  frontend/src/store/slices/report.ts
  frontend/src/store/slices/user.test.ts
  frontend/src/store/slices/user.ts
  frontend/src/test-utils/mock.ts
Labels: frontend, feature
